body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: Verdana;
}
p {
  font-size: 21;
  color: Gray;
}
#copyright {
  text-align: right;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}
#downloadLink {
  color: aquamarine;
  font-size: 16;
}
h2 {
  font-family: verdana;
  font-weight: 300;
  font-size: 42;
}
